body {
  align-content: center;
  /* background-color: rgb(250, 240, 232); */
  background-image: url("./images/weatherapp.png?w=1500");
  background-size: 1500px;
  font-family: "Assistant", sans-serif !important;
  letter-spacing: 0.5px;
  margin: 0px auto;
  text-align: left;
}

.container {
  font-family: "Assistant", sans-serif !important;
}

.footer {
  text-align: center;
  margin: 20px;
}
