.App {
  text-align: left;
}

body {
  align-content: center;
  background-color: rgb(250, 240, 232);
  font-family: "Assistant", sans-serif;
  letter-spacing: 0.5px;
  margin: 0px auto;
  text-align: left;
  width: 700px;
}

.app-bg {
  border-style: solid;
  border-radius: 2px;
  border-color: rgb(151, 151, 151);
  box-shadow: 0px 0px 2px rgba(82, 82, 82, 0.747);
  border-width: 1px;
  margin: 30px 0px auto;
}

.header {
  background-color: rgb(255, 109, 106);
  padding: 24px;
}

/* Form Start */

form {
  font-family: "Assistant", sans-serif;
  text-align: center;
}

#search-city {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(19, 41, 75);
  font-weight: bolder;
  font-family: "Assistant", sans-serif;
}

form {
  align-items: center;
  display: inline;
}

input {
  border-radius: 3px;
  border: none;
  height: 30px;
  padding-left: 10px;
  width: 200px;
}

input:focus {
  outline: 0;
}

#go-button {
  background-color: rgb(19, 41, 75);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bolder;
  height: 30px;
  margin-left: 5px;
}

#go-button:hover {
  cursor: pointer;
}

#go-button:focus {
  outline: 0;
}

#current-button {
  background-color: rgb(19, 41, 75);
  border-radius: 5px;
  border: none;
  color: white;
  height: 30px;
  margin-left: 5px;
}

#current-button:hover {
  cursor: pointer;
}

#current-button:focus {
  outline: 0;
}

/* Form end */

h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 3px 8px 10px #44444428;
}

#current-time {
  font-size: 25px;
  font-weight: bolder;
  margin-right: 20px;
}

#current-day {
  font-size: 20px;
}

.main-temp {
  padding: 20px 40px 40px 20px;
}

.first-temp-subtitles {
  font-size: 16px;
  margin-top: 30px;
}

.first-temp {
  color: rgb(19, 41, 75);
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 20px;
  padding: 20px;
  text-shadow: 3px 8px 10px #44444428;
  border-bottom: 1px solid black;
}

#temp-change {
  font-size: 20px;
  font-weight: lighter;
  vertical-align: top;
}

#celsius:hover {
  cursor: pointer;
  font-weight: bold;
}

#fahrenheit:hover {
  cursor: pointer;
  font-weight: bold;
}

#description {
  font-size: 20px;
  font-weight: bolder;
}

#main-icon {
  box-shadow: gray;
  float: right;
  height: 80px;
  width: 80px;
}

ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 10px 5px 10px 5px;
  text-align: center;
}

li {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 0 5px 0 5px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  text-decoration: none;
}

#sub-time {
  font-size: 15px;
}

#sub-temp {
  font-size: 12px;
  font-weight: lighter;
}

.footer {
  text-align: center;
}
